/*  style generaux  */
body{
   margin: 0;
   padding:0;
   font-size:1em;
}

#page{
	max-width:1200px;
	margin: auto;
	font-family: Arial;
	font-size: 16px;
	display: flex;
	flex-direction: column;
    width: 100%;
    border: 1px solid black;
    background-color: yellow;
}

/*  header*/
header{
	background-color: pink;
	display:flex;
	flex-direction:row-reverse;
	width:100%;
}
header .partie_gauche{
	width: 25%;
}

header .partie_droite {
	width: 75%;
}
header .trait{
	width: 10%;
	margin-left: 40px;
}
/* photo*/ 
#photo{
	height: 200px
}
#photo img
{   width: 200px;
    height: 200px;
    border-radius: 50%;
}


h1{
	font-size: 3em;
	margin-top: 50px;
	margin-left:40px;
}
span{
	color: #8DC4F5;
}
#metier{
	font-size: 25px;
	margin-left: 40px;
}
.trait{
	border: solid #8DC4F5 1px;
	margin-left: 30px;
}
.titre{
	display: flex;	
}
/* main*/ 
main {
	display: flex;
	flex-direction:row-reverse;
	width: 100%;
}
main .partie_droite h2{
	color: black;
	padding-left:40px ;
	justify-content: center;
	padding-top: 50px;
}
article{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

/* fontawsome*/ 
.picto{
    align-items: center;
    display: flex;
	margin-top:50px;
	color: #8DC4F5;
	font-size: 25px;
	margin-left: 30px;
}	    
.picto2{
	display: flex;
	color: #8DC4F5;
    align-items: center;
    margin-top: 10px;
    margin-right: 30px;
}
/* bloc formation exp professionelle recommandation*/ 
.partie_droite{
    background-color:yellow;
    width: 75%;
}

/*partie interieur bloc formation exp professionelle*/ 
.gauche{
	display: flex;
	padding-top: 10px;
	width: 40%;
	background-color: grey;
}
.droite{ 
    margin: 10px;
	margin-left: 30px;
	background-color: red;
	width: 60%;
}
/*bloc recommandation*/ 
#recommandation .gauche {  
    display: flex;
	width: 50%;
}
#recommandation .droite{
    display: flex;
	flex-direction: row;
	width: 50%;
}

#recommandation h2{
	color: black;
	padding-left: 40px;	
}

/*Partie contact propos loisir*/

.partie_gauche{
	width:25% ;
	background-color: #8DC4F5;
}
.partie_gauche h2{
	width:300px;
	text-align: center;
    background-color: black;
    color: #8DC4F5;
}
#contact{
	height: 500px;
}
#contact p{
	margin-left: 30px;
}
#propos{
	height:900px;	
}
#propos p{
    margin-left: 30px;
    margin-right: 30px;
}
 #loisirs p{
	margin-left: 30px;
}
 #cercle{
	display: flex;
	justify-content: space-around;
}
.circle{
	border: solid black 5px;
	border-radius: 50%;
	font-size: 20px;
	padding: 20px;
	align-items: center;
}